/*by uplyw*/
@charset "utf-8";
div{
    float: left;
    width: 300px;
    height: 200px;
    text-align: center;
    font-size: 20px;
    line-height: 200px;
    margin-right: 6px;
}
.linear1{
    background-image: linear-gradient(to top , #1d95ff , #ff782f);
}
.linear2{
    background-image: linear-gradient(to right , #1d95ff , #ff782f);
}
.linear3{
    background-image: linear-gradient(to right bottom , #1d95ff , #ff782f);
}
.linear4{
    background-image: linear-gradient(to top left , #1d95ff , #ff782f);
}
.linear5{
    background-image: linear-gradient(15deg , #1d95ff , #ff782f);
}